html
  head
    title!= title
  body
    h1 !{message}
    table(border='1')
      thead
         th ID
         th Name
         th Leader
      tbody
        each course in courses
          tr
            td #{course.CourseID}
            td #{course.CourseName}
            td #{course.CourseLeader}
    h1 Enter the details of a new course
      form(action="/course/courses" method="POST")
        table(border='1')
          thead
            th ID
            th Name
            th Leader
          tbody
            td
              input(type="text", name="CourseID")
            td
              input(type="text", name="CourseName")
            td
              input(type="text", name="CourseLeader")
          tr
          td
            button(type="submit") Submit
      